<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        input[type=text] {
            width: 60px;
            border-radius: 3px;
            border: solid 1px #bbb;
        }
        h3 {
            margin-top: 0;
        }
        .div-mb {
            margin-bottom: 3px;
        }
        .div-content {
            padding: 10px;
            border-radius: 3px;
            box-shadow: 0 2px 4px 0 #808080;
            margin-bottom: 15px;
        }
        .ml {
            margin-left: 10px;
        }
    </style>
    <div id="patient" class="div-content"></div>
    <div id="fa" class="div-content"></div>
    <div id="fi" class="div-content"></div>
    <div id="ft" class="div-content"></div>
    <div>
        <input type="submit" value="Calcular" onclick="renderCalories()">
        <span id="calories"></span>
    </div>
    <script src="/public/index.js"></script>
</body>
</html>